[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "mauilion.dev"]
	path = mauilion.dev
	url = git@github.com:mauilion/mauilion.dev.git
	branch = master
